<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>
		<label>Name: </label> 
		<%= @enquiry.name %> 
	</p>
	<p>
		<label>Email: </label> 
		<%= @enquiry.email %> 
	</p>
	<p>
		<label>Phone: </label> 
		<%= @enquiry.phone %> 
	</p>
	<p>
		<label>Message: </label> 
		<%= @enquiry.message %> 
	</p>


	
  </body>
</html>