<% content_for :header_meta do%>
<!-- // Meta //  -->
<meta charset="utf-8">   
<meta name="description" content="" />
<meta name="keywords" content="" />

<% end %>

<% content_for :content do %>
	<article class="full-block clearfix">

				<!-- Article Container for safe floating -->
				<div class="article-container">

					<!-- Article Header -->
					<header>
						<h2>Welcome to THE ADVITOR CMS System!</h2>
						<!-- Article Header Tab Navigation -->
						<nav>
							<ul class="tab-switch">
								<li><a class="default-tab" href="#tab0">Introduction</a></li>
							</ul>
						</nav>
						<!-- /Article Header Tab Navigation -->
					</header>
					<!-- /Article Header -->

					<!-- Article Content -->
					<section>

						<!-- Tab Content #tab1 -->
						<div class="tab default-tab" id="tab0">
							<h3>Introduction</h3>

							<p>The Advitor CMS System is to help you to manage your website easily. You can edit and create the required information and content of your website. All the information you input will be stored in the database and can be retrieved and displayed on the web page. For operation details, please refer to the User Manual.</p>
	                        <p>In this system, you can manage the following areas:</p>
							<ul>
								<li>Users – create admin or other users to manage the website</li>
								<li>Pages – create and edit the pages in your site</li>
								<li>Images – upload and manage pictures</li>
								<li>Videos – enclose a video in your site</li>
								<li>News and Events – create and edit news and events</li>
							</ul>
						</div>
						<!-- /Tab Content #tab1 -->


					</section>
					<!-- /Article Content -->


				</div>
				<!-- /Article Container -->

			</article>
			<!-- /Full Content Block -->
	

<% end %>