<div class="left gap10">
		<a href="/donate-now"><img alt="Btn-donate" src="/assets/frontend/btn-donate.png" /></a>
	</div>
	
	
	<div id="social-block" class="left gap10">
		<a href=""><img alt="Btn-fb-large" src="/assets/frontend/btn-fb-large.png" />&nbsp;&nbsp;&nbsp;</a>
			<a href=""><img alt="Btn-twitter-large" src="/assets/frontend/btn-twitter-large.png" />&nbsp;&nbsp;&nbsp;</a>
				<a href=""><img alt="Btn-youtube-large" src="/assets/frontend/btn-youtube-large.png" />&nbsp;&nbsp;&nbsp;</a>
	</div>
	
	<div class="resource-block left gap10">
		<div class="resource-block-title">UNESCO RESOURCES</div>
		<div class="resource-block-content">
			
			<a href=""><div class="resource-inner">
				<div class="resource-image left"><img alt="Resource-1" src="/assets/frontend/resource-1.png" /></div>
				<div class="resource-inner-block right">
					<span class="resource-title">Multimedia</span><br/>
					<span class="resource-content">First call for abstracts: 4th Africa National Committees Regional Meeting</span>
				</div>
			</div></a><br class="clear"/>
			<hr/>
			
			<a href=""><div class="resource-inner">
				<div class="resource-image left"><img alt="Resource-2" src="/assets/frontend/resource-2.png" /></div>
				<div class="resource-inner-block right">
					<span class="resource-title">Multimedia</span><br/>
					<span class="resource-content">First call for abstracts: 4th Africa National Committees Regional Meeting</span>
				</div>
			</div></a><br class="clear"/>
			<hr/>
			
			<a href=""><div class="resource-inner">
				<div class="resource-image left"><img alt="Resource-3" src="/assets/frontend/resource-3.png" /></div>
				<div class="resource-inner-block right">
					<span class="resource-title">Multimedia</span><br/>
					<span class="resource-content">First call for abstracts: 4th Africa National Committees Regional Meeting</span>
				</div>
			</div></a><br class="clear"/>
			<hr/>
			
			<a href=""><div class="resource-inner">
				<div class="resource-image left"><img alt="Resource-4" src="/assets/frontend/resource-4.png" /></div>
				<div class="resource-inner-block right">
					<span class="resource-title">Multimedia</span><br/>
					<span class="resource-content">First call for abstracts: 4th Africa National Committees Regional Meeting</span>
				</div>
			</div></a><br class="clear"/>
			<hr/>
		</div>
	</div>